.axis path {
    fill: none;
    stroke: #777;
    /*shape-rendering: crispEdges;*/
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

.axis-year path {
  stroke:  #000;
}

.axis-year line {
  stroke: lightgrey;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
