<%= @user.name %>
<a href="/user/<%=@user.id%>/form">new data marker</a>
<h1><%= @daydata.count %></h1>
<ul>

  <% @times.each do |t|%>
    <li>
      <%=JSON.parse(t)["human_read"]%>
    </li>
  <%end%>
</ul>
